md-timepicker .md-timepicker {
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 6px 0;
}
md-timepicker .md-timepicker .time-keyboard {
  padding: 5px;
  margin: 0;
}
md-timepicker .md-timepicker .time-keyboard input {
  border: none;
  margin-bottom: 4px;
  font-size: 12px;
}
md-timepicker .md-timepicker .time-keyboard input[type="time"] {
  clip-path: inset(0 18px 0 0);
  width: 95px;
}
md-timepicker .md-timepicker .time-keyboard input[type="time"]::-webkit-clear-button, md-timepicker .md-timepicker .time-keyboard input[type="time"]::-ms-clear {
  display: none;
}
md-timepicker .md-timepicker .time-keyboard input[type=time]::-webkit-inner-spin-button,
md-timepicker .md-timepicker .time-keyboard input[type=time]::-webkit-outer-spin-button, md-timepicker .md-timepicker .time-keyboard input[type="time"]::-webkit-clear-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}
md-timepicker .md-timepicker .time-keyboard .md-errors-spacer {
  min-height: 0;
  display: none;
}
md-timepicker .md-timepicker .time-dropdown {
  width: 20px;
  margin: 0;
}
md-timepicker .md-timepicker .time-dropdown .md-select-value {
  min-width: 14px;
  min-height: 14px;
  border-bottom: none;
  margin-bottom: 2px;
}
md-timepicker .md-timepicker .time-dropdown .md-select-value .md-select-icon {
  position: absolute;
  width: auto;
  margin: 0;
  left: -5px;
}
md-timepicker .md-timepicker .time-dropdown .md-select-value .md-select-icon::after {
  font-size: 16px;
  color: #0071BC;
}
md-timepicker .md-timepicker .md-select-value > span:not(.md-select-icon) .md-text {
  display: none;
}
md-timepicker .md-timepicker .time-keyboard, md-timepicker .md-timepicker .time-dropdown {
  font-size: 12px;
}

.time-list md-select-menu {
  position: absolute;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.time-list md-select-menu md-content md-option {
  text-align: center;
}
.time-list md-select-menu md-content md-option .md-text {
  width: 100%;
}
.time-list md-select-menu .md-timepicker-input-mask {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: none;
  height: 36px;
  background: #FFFFFF;
  align-items: center;
  z-index: 1230;
}
.time-list md-select-menu .md-timepicker-input-mask p {
  font-size: 12px;
  display: inline;
  position: relative;
  top: -6px;
}
.time-list md-select-menu .md-timepicker-input-mask p span {
  margin-left: 11px;
  position: relative;
  top: -1px;
  letter-spacing: 0.43px;
}
.time-list md-select-menu .md-timepicker-input-mask .material-icons {
  font-size: 20px;
  margin: 8px 5px 0 3px;
  color: #0071BC;
}

