#md-timepicker {
  width: 88px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 6px 0;

  .time-keyboard {
    width: 60px;
    padding: 5px;
    margin: 0;
    input {
      border: none;
      margin-bottom: 4px;
      font-size: 12px;
    }
    input[type="time"]::-webkit-clear-button, input[type="time"]::-ms-clear {
      display: none;
    }

    input[type=time]::-webkit-inner-spin-button,
    input[type=time]::-webkit-outer-spin-button, input[type="time"]::-webkit-clear-button {
      -webkit-appearance: none;
      margin: 0;
      display: none;
    }

    .md-errors-spacer {
      min-height: 0;
      display: none;
    }
  }
  .time-dropdown {
    width: 20px;
    margin: 0;

    .md-select-value {
      min-width: 14px;
      min-height: 14px;
      border-bottom: none;
      margin-bottom: 2px;
      .md-select-icon {
        position: absolute;
        width: auto;
        margin: 0;
        &::after {
          font-size: 16px;
          color: #0071BC;
        }
      }
    }
  }



  .md-select-value > span:not(.md-select-icon) .md-text {
    display: none;
  }

  .time-keyboard, .time-dropdown {
    font-size: 12px;
    //border: none;
  }
}

.time-list {
  md-select-menu {
    position: absolute;
    //top: 44px;
    left: -132px;
    width: 169px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    md-content {
      padding-top: 36px;
      md-option {
        text-align: center;
        .md-text {
          width: 100%;
        }
      }
    }
    .md-timepicker-input-mask {
      position: fixed;
      top: 0;
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
      height: 36px;
      background: #FFFFFF;
      border-top: 1px solid #DDDDDD;
      align-items: center;
      z-index: 1230;
      p {
        font-size: 12px;
        display: inline;
        position: relative;
        top: -6px;
        span {
          margin-left: 9px;
          position: relative;
          top: -1px;
        }
      }
      .material-icons {
        font-size: 20px;
        margin: 8px 5px 0 10px;
        color: #0071BC;
      }
    }
  }
}

.time-list.md-active {
  top: 207px !important;
}
