<span id="md-timepicker">
  <md-input-container class="time-keyboard">
    <input type="time" name="input" ng-model="time" min="00:00" max="23:59"/>
  </md-input-container>
  <md-input-container class="time-dropdown">
      <md-select ng-model="time" md-container-class="time-list {{ customClass }}">
          <span class="md-timepicker-input-mask">
            <i class="material-icons">schedule</i> <p>Time <span>{{ time | date: 'hh:mm a' }}</span> </p>
          </span>
          <md-option ng-value="time" ng-repeat="time in timings">{{ time | date: 'hh:mm a'}}</md-option>
      </md-select>
  </md-input-container>
</span>
