#md-timepicker {
  width: 88px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 6px 0;
  font-family: 'Roboto Condensed', sans-serif;
}

#md-timepicker .time-keyboard {
  width: 60px;
  padding: 5px;
  margin: 0;
  padding-right: 0;
}

#md-timepicker .time-keyboard input {
  border: none;
  margin-bottom: 4px;
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
}

#md-timepicker .time-keyboard input[type="time"]::-webkit-clear-button, #md-timepicker .time-keyboard input[type="time"]::-ms-clear {
  display: none;
}

#md-timepicker .time-keyboard input[type=time]::-webkit-inner-spin-button, #md-timepicker .time-keyboard input[type=time]::-webkit-outer-spin-button, #md-timepicker .time-keyboard input[type="time"]::-webkit-clear-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

#md-timepicker .time-keyboard .md-errors-spacer {
  min-height: 0;
  display: none;
}

#md-timepicker .time-dropdown {
  width: 24px;
  margin: 0;
}

#md-timepicker .time-dropdown .md-select-value {
  min-width: 14px;
  min-height: 14px;
  border-bottom: none;
  margin-bottom: 2px;
}

#md-timepicker .time-dropdown .md-select-value .md-select-icon {
  position: absolute;
  width: auto;
  margin: 0;
  left: 0;
}

#md-timepicker .time-dropdown .md-select-value .md-select-icon::after {
  font-size: 16px;
  color: #0071BC;
}

#md-timepicker .md-select-value>span:not(.md-select-icon) .md-text {
  display: none;
}

#md-timepicker .time-keyboard, #md-timepicker .time-dropdown {
  font-size: 12px;
}

#md-timepicker md-input-container {
  padding-right: 0;
}

.time-list md-select-menu md-content {
  padding-top: 36px;
}

.time-list md-select-menu md-content md-option {
  text-align: center;
}

.time-list md-select-menu md-content md-option .md-text {
  width: 100%;
}

.time-list md-select-menu .md-timepicker-input-mask {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 36px;
  background: #FFFFFF;
  border-top: 1px solid #DDDDDD;
  align-items: center;
  z-index: 1230;
}

.time-list md-select-menu .md-timepicker-input-mask p {
  font-size: 12px;
  display: inline;
  position: relative;
  top: -6px;
}

.time-list md-select-menu .md-timepicker-input-mask p span {
  margin-left: 9px;
  position: relative;
  top: -1px;
}

.time-list md-select-menu .md-timepicker-input-mask .material-icons {
  font-size: 20px;
  margin: 8px 5px 0 10px;
  color: #0071BC;
}

/* .time-list.md-active {
  top: 207px !important;
} */
